@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Preview template";
}

<body>
    <header class="d-flex align-items-center justify-content-between p-3 border-bottom position-relative">
    </header>
</body>