@using Microsoft.AspNetCore.Mvc.Localization
@using Newtonsoft.Json

@inject IViewLocalizer Localizer

@model CustomForms.Models.Form.FillModel

@{
    ViewData["Title"] = "View Page";
}

<script>
    var model = function () {
        return @Html.Raw(JsonConvert.SerializeObject(Model));
    }();
</script>

<body>
    <main class="container py-4 position-relative">

    </main>
</body>

@section Scripts {
    <script src="~/js/view.js" asp-append-version="true"></script>
}